{% extends "layout.html" %}

{% block content %}
<div class="left-column">
    <div id="poast-block">
        <h2 id="poast-bar">Make a Poast</h2>
        <form class="form" action="/create_poast" method="POST">
            <div>
                <label class="form-label">Poast Title:</label>
                <input type="text" class="form-control input-field" name="title">   
            </div>
            <div class="mb-3">
                <label class="form-label">Content:</label>
                <textarea class="form-control" name="content"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Poast!</button>
        </form>
    </div>
    {% for poast in poasts %}
    <div class="new-poast-box">
        <div class="new-poast-bar">
            <h3>{{ poast.title }}</h3>
        </div>
        <div class="new-poast">
            <p><em>{{ poast.poast_date }} - <a href="/show_profile/{{ poast.member_id }}">{{ poast.member_first_name }} {{ poast.member_last_name }}</em></a></p>
            <p>{{ poast.content }}</p>  
            {% if user.id == poast.member_id %}
            <a class="update-poast" href="/show_poast/{{ poast.id }}">Update Poast</a>
            {% endif %}
            {% if user.id ==poast.member_id or user.officer_key %}
            <a href="/delete_poast/{{ poast.id }}">Delete Poast</a>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>
<div class="right-column">
    <div class="new-form-box">
        <div class="new-form-bar">
            <h2>Your Upcoming Roles</h2>
        </div>
        <div class="new-form">
            {% for role in upcoming_roles %}
                <p><strong>{{ role.meeting_date }}:</strong> {{ role.role_name }} <br> 
                    {% if role.response_id==1 %}
                    <p class="confirmed">Confirmed</p>
                    {% elif role.response_id==2 %}
                    <p>Requested Volunteer</p>
                    {% else %}
                    <div class="confirmation-responses">
                        <form action="/create_role_confirmation" method="POST">
                            <input type="hidden" name="role_assignment_id" value="{{ role.id }}">
                            <button type="submit" class="btn btn-link">Confirm</button>
                        </form>
                        <form action="/create_volunteer_need" method="POST">
                            <input type="hidden" name="role_assignment_id" value="{{ role.id }}">
                            <button type="submit" class="btn btn-link">Need a Volunteer</button>
                        </form>
                    </div>
                    {% endif %}
                </p>
            {% endfor %}
        </div>
    </div>
    <div class="new-form-box">
        <div class="new-form-bar">
            <h2>Roles for {{ next_meeting_date }}</h2>
        </div>
        <div class="new-form">
            {% for role in next_meeting_roles %}
            <div class="next-meeting-roles">
                <p><strong>{{ role.role_name }}:</strong><a href="/show_profile/{{ role.member_id }}"> {{ role.member_first_name }} {{ role.member_last_name }}</a></p>
                {% if role.response_id==1 %}
                <p class="confirmed"> - Confirmed</p>
                {% elif role.response_id==2 %}
                <p> - Needs Volunteer</p>
                {% else %}
                <p> - Not confirmed</p>
                {% endif %}
            </div>
            {% endfor %}
            <a href="https://sites.google.com/site/toastmasters4741/home/meeting-roles">Get more info on your role</a>
            <a href="/show_meetings">See Full Meeting Schedules</a>
        </div>
    </div>
</div>
{% endblock %}