{% extends "layout.html" %}

{% block content %}
<table class="table">
    <thead>
        <th>Role id #</th>
        <th>Member Role</th>
        <th>Action</th>
    </thead>
    <tbody>
        {% for role in role_assignments %}
        <tr>
            <td>{{ role.id }}</td>
            <td>{{ role.member_first_name }} {{ role.member_last_name }}</td>
            <td><a href="/delete_assignment/{{ role.id }}">Delete<a href></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}

