{% extends "layout.html" %}

{% block content %}
<div class="new-form-box">
    <h2 class="new-form-bar">Send Email</h2>
    <form class="form" action="/send_email" method="POST">
        <div>
            <label class="form-label">Subject:</label>
            <input type="text" class="form-control input-field" name="subject">   
        </div>
        <div class="mb-3">
            <label class="form-label">Body:</label>
            <textarea class="form-control" name="body"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Send</button>
    </form>
</div>
{% endblock %}